<ion-content>
  <ion-button *ngIf="iniciar == false" (click)="iniciarCamara()" expand="block" fill="clear" shape="round">
      Iniciar camara
  </ion-button>
  <ion-button *ngIf="iniciar == true" (click)="desactivarCamara()" expand="block" fill="clear" shape="round">
      Desactivar camara
  </ion-button>
  <ion-button *ngIf="iniciar == true" (click)="capturarImagen()" expand="block" fill="clear" shape="round">
      Capturar imagen
  </ion-button>
  <br/>
  <div id="camera-container"></div>
  <ion-grid fixed>
      <ion-row>
          <ion-col *ngFor="let img of listaImagenes" size="4">
              <img [src]="img" alt="">
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>